/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {

}
a:hover { text-decoration: none }

.section_padding{
    padding: 50px 0px;
}
.quote_form_wrap {
    text-align: center;
}
.quote_form_wrap img{
    max-width: 500px;
    
}
.blue_contact_form {
  background: #19b5ff none repeat scroll 0 0;
  margin-top: -80px;
  padding: 40px 70px;
}
.blue_contact_form h3 {
  color: #fff;
  margin-bottom: 50px;
  padding-bottom: 20px;
  position: relative;
  text-transform: uppercase;
}
.blue_contact_form h3:after{
    position: absolute;
    content: "";
    left: 50%;
    bottom: 0;
    width: 130px;
    height: 2px;
    background: #6ad1fb;
    margin-left: -65px;
}
.blue_contact_form h3::before {
  background: #19b5ff none repeat scroll 0 0;
  border: 2px solid #fff;
  border-radius: 50%;
  bottom: -4px;
  content: "";
  height: 10px;
  left: 50%;
  margin-left: -5px;
  position: absolute;
  width: 10px;
  z-index: 99;
}
.blue_contact_form input, textarea{
    background-color: transparent;
    width: 100%;
    border: none;
    border-bottom: 1px solid #6bcaec;
    color: #fff;
    padding: 15px 0px;
    margin-bottom: 10px;
}
.blue_contact_form textarea {
  height: 87px;
  padding-top: 50px;
  resize: none;
}
.blue_contact_form button {
  background: #fff none repeat scroll 0 0;
  border: medium none;
  border-radius: 3px;
  color: #6bcaec;
  font-weight: 700;
  margin-top: 30px;
  padding: 8px 15px;
  text-transform: uppercase;
}